body {
	font-size: 14px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	text-align: center;
}

#wrapper {
  text-align: left;
  margin: auto;
  margin-top: 100px;
  width: 920px;
  position: relative;
}

#logo {
  float: left;
  font-size: 20px;
  text-align: center;
}

#step1, #step2, #step3 {
  width: 880px;
  top: 160px;
  position: absolute;
  padding: 20px;
  background-color: #cacaca;
  float: left;
  border: 1px solid black;
  -moz-border-radius: 10px;
}

#step1 h1 {
  text-align: center;
}

#step1 #tank_properties .progressbar {
  height: 50px;
  width: 876px;
  float: left;
  border-radius: 20px;
  border: 2px solid black;
  background: red;
}

#step2 #search_result {
  list-style-type: none;
  margin: 0px;
  padding: 0px
}

#step2 #search_result li{
  margin: 0px;
}

#step2 #search_result li img{
  cursor: pointer;
}

/* helpers */

.button {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;  
  cursor: pointer;
}

.button.next {
  float: right;
}

.button.back {
  float: left;
}

