          <div class="video">
            <iframe src="http://player.vimeo.com/video/14109777" width="640" height="360" frameborder="0"></iframe>
          </div>
          <div class="text">
            <div>Set your tank size in </div><input name="volume" type="text" value="litres" onfocus="if($(this).val()=='liters') {$(this).val('');}" onblur=" if($(this).val().length==0) { $(this).val('litres'); }"> <div>and</div><a href="#" class="orangeButton" onclick="createAquarium()">GET STARTED &raquo;</a>
          </div>